table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px; 
    text-align: left;
}

tr:hover {
    background-color: rgb(236, 230, 230);
}

#loading{
    display: block;
    margin-left: auto;
    margin-right: auto;
}